.homeset {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    z-index: 15;
    box-sizing: border-box;
    background: #272730;
    header {
        height: 260px;
        border-bottom: 1px solid #3a3a48;
        .header {
            width: 1000px;
            margin: 0 auto;
            padding-top: 75px;
            h1 {
                font-size: 40px;
                color: white;
                margin-bottom: 20px;
            }
            span {
                color: #bcc2d5;
                font-size: 14px;
            }
            .tab {
                overflow: hidden;
                margin-top: 30px;
                position: relative;
                .el-breadcrumb {
                    .cur.span {
                        color: red;
                    }
                }
                input {
                    top: -25px;
                    right: 0px;
                    width: 200px;
                    float: right;
                    box-sizing: border-box;
                    background-color: #494959;
                    border: none;
                    outline: none;
                    color: white;
                    height: 30px;
                    width: 200px;
                    padding-left: 20px;
                    background: url("../../assets//img/scsearch.png") 90% 50% no-repeat #494959;
                    margin-top: 10px;
                }
            }
        }
    }
    .content {
        width: 1000px;
        margin: auto;
        span.yx {
            display: block;
            padding-top: 30px;
            color: white;
            padding-bottom: 10px;
        }
        &_wrap {
            height: 490px;
            ul {
                list-style: none;
                overflow: hidden;
                li {
                    float: left;
                    height: 70px;
                    width: 200px;
                    line-height: 70px;
                    cursor: pointer;
                    a {
                        img {
                            // padding-left: 20px;
                            width: 50px;
                            height: 30px;
                        }
                        .el-button--default {
                            background: #272730 !important;
                            border: 1px solid #272730 !important;
                            color: white;
                            overflow: hidden;
                        }
                        .itmemt_ch {
                            position: relative;
                            top: -20px;
                            text-align: left;
                            span {
                                .chinese {
                                    margin-left: 0px;
                                }
                            }
                        }
                        .itmemt_en {
                            position: relative;
                            top: 28px;
                            text-align: left;
                            margin-left: 0;
                            span {
                                .english {
                                    margin-left: 0px;
                                }
                            }
                        }
                        .itmerw_ch {
                            position: absolute;
                            top: 12px;
                            text-align: left;
                            span {
                                .chinese {
                                    height: 20px;
                                    line-height: 20px;
                                    margin-left: 0;
                                }
                            }
                        }
                        .itmerw_en {
                            position: absolute;
                            top: 28px;
                        }
                        text-decoration: none;
                        color: white;
                        font-size: 16px;
                        .chinese {
                            position: relative;
                            top: -20px;
                            text-align: left;
                            position: absolute;
                            // top: -20px;
                            margin-left: 20px;
                            font-size: 15px;
                            // height: 25px;
                            // line-height: 25px;
                        }
                        .english {
                            margin-left: 20px;
                            font-size: 13px;
                        }
                    }
                }
                li.cur {
                    background-color: #494959;
                    .el-button--default {
                        background: #494959 !important;
                        border: 1px solid #494959 !important;
                        color: white;
                    }
                }
            }
            ul.mt {
                li {
                    width: 196px;
                    a {
                        img {
                            width: 54px;
                            height: 54px;
                            margin-top: 8px;
                            margin-left: 20px;
                        }
                        span.chinese {
                            top: 10px;
                            font-size: 15px;
                            overflow: hidden;
                        }
                        span.english {
                            //position: absolute;
                            top: 15px;
                            font-size: 13px;
                        }
                    }
                }
            }
            ul.rw {
                overflow: unset;
                li {
                    margin-top: 40px;
                    width: 245px;
                    a {
                        img {
                            width: 54px;
                            height: 54px;
                            margin-top: 8px;
                        }
                        span.chinese {
                            top: 10px;
                            font-size: 13px;
                        }
                        span.english {
                            position: absolute;
                            top: 10px;
                            font-size: 13px;
                        }
                    }
                }
            }
            ul.tjpd {
                margin-top: 20px;
                li {
                    height: 50px;
                    line-height: 50px;
                    width: 166px;
                    a {
                        img {
                            width: 54px;
                            height: 54px;
                            margin-top: 8px;
                        }
                        span.chinese {
                            top: -10px;
                        }
                        span.english {
                            position: absolute;
                            top: 10px;
                        }
                    }
                }
            }
        }
        .qit {
            margin-top: 50px;
            color: #6d6f7e;
            display: block;
            margin-bottom: 20px;
        }
        .sst {
            margin-top: 50px;
            color: #6d6f7e;
            display: block;
            margin-bottom: 20px;
        }
        .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 70px;
            button {
                background-color: #0074ff;
                color: white;
                border: 0;
                font-size: 18px;
                font-weight: bold;
            }
            .up {
                margin-left: 20px;
                cursor: pointer;
                font-size: 18px;
                font-weight: bold;
                color: white;
            }
        }
    }
}