        .formfetch {
            // padding-top: 60px;
            .content {
                width: 1200px;
                height: 1230px;
                margin: 0 auto;
                background-color: #3a3a48;
                .count {
                    padding-top: 50px;
                    padding-left: 60px;
                    padding-bottom: 50px;
                    border-bottom: 1px solid #494959;
                    .cjgj,
                    .cjzd,
                    .cjtj {
                        width: 330px;
                        height: 133px;
                        float: left;
                        background-color: #494959;
                        margin-right: 45px;
                        text-align: center;
                        .sl {
                            font-size: 40px;
                            margin-top: 25px;
                        }
                        .name {
                            margin-top: 5px;
                            font-size: 14px;
                        }
                    }
                }
                .count::after {
                    content: "";
                    display: block;
                    clear: both;
                }
                .cjsjs {
                    padding-left: 60px;
                    .cjsjs_head {
                        margin-top: 40px;
                        p {
                            font-size: 20px;
                            color: white;
                            display: inline;
                        }
                        .el-row {
                            float: right;
                            margin-right: 400px;
                            padding-bottom: 20px;
                            button {
                                width: 100px;
                            }
                        }
                        .zhi {
                            display: inline-block;
                            width: 16px;
                            font-weight: bold;
                        }
                        .zjsst {
                            margin-right: 30px;
                        }
                        .cjsjs_head_search {
                            display: inline-block;
                            height: 40px;
                            width: 50px;
                            // float: right;
                            margin-right: 60px;
                            text-align: center;
                            border: 1px solid #494959;
                            cursor: pointer;
                            img {
                                margin-top: 10px;
                            }
                        }
                    }
                    .cjsjs_content {
                        width: 1080px;
                        margin-top: 40px;
                        background-color: #494959;
                        height: 130px;
                        text-align: center;
                        div {
                            float: left;
                            margin-left: 49px;
                            margin-right: 74px;
                            height: 150px;
                            position: relative;
                            width: 100px;
                        }
                        div p:first-child {
                            position: absolute;
                            // line-height: 130px;
                            font-size: 30px;
                            top: 35px;
                        }
                        div p:nth-child(2) {
                            position: absolute;
                            top: 80px;
                            font-size: 14px;
                        }
                    }
                    .cjsjs_content::after {
                        content: "";
                        display: block;
                        clear: both;
                    }
                }
                .cjsjqst {
                    margin-top: 45px;
                    padding-left: 60px;
                    .small {
                        .myChart2 {
                            width: 1200px;
                            height: 290px;
                        }
                    }
                }
                .site {
                    padding-left: 60px;
                    .site_p {
                        font-size: 20px;
                        font-weight: bold;
                    }
                    .site_p_export {
                        float: right;
                        width: 100px;
                        height: 30px;
                        background-color: #494959;
                        text-align: center;
                        line-height: 30px;
                        color: white;
                        cursor: pointer;
                        margin-right: 60px;
                    }
                    ul {
                        background-color: #494959;
                        margin-top: 25px;
                        height: 300px;
                        margin-right: 65px;
                        li:nth-child(1) {
                            border-bottom: 1px solid #5c5c6b;
                        }
                        li {
                            height: 50px;
                            line-height: 50px;
                            .list_li_number,
                            .list_li_name,
                            .list_li_time {
                                float: left;
                                color: white;
                                font-size: 14px;
                            }
                            .list_li_number {
                                width: 200px;
                                margin-left: 65px;
                            }
                            .list_li_name {
                                width: 300px;
                            }
                            .list_li_time {
                                width: 500px;
                            }
                        }
                        li.active {
                            background: #4f4f5f;
                        }
                    }
                }
            }
        }