.maybeknow {
  height: 100%;
  padding-top: 1px;
  position: relative;
  .content {
    margin: 50px 32px 0;
    // height: 300px;
    padding-left: 20px;
    .title {
      border-bottom: 1px solid #4d4d5d;
      margin-right: 40px;
      margin-left: 20px;
      .maybetitle {
        color: white;
        font-size: 20px;
        padding-bottom: 33px;
      }
    }
    .content_userlists {
      position: absolute;
      left: 52px;
      top: 140px;
      right: 30px;
      bottom: 0;
      ul {
        height: 100%;
        li {
          padding: 5px 20px;
          height: 50px;
          margin-bottom: 5px;
          .content_userlist {
            color: white;
            img {
              float: left;
              display: block;
              width: 40px;
            }
            p {
              float: left;
            }
            .content_userlist_engname,
            .content_userlist_add {
              width: 40px;
              height: 40px;
              line-height: 40px;
              background: url("../../assets/img/maybeadd.png") right center
                no-repeat;
            }
            .content_userlist_add:hover {
              background: url("../../assets/img/maybeaddhover.png") right center
                no-repeat;
            }
            .content_userlist_engname {
              background-color: #009688;
              text-align: center;
            }
            .content_userlist_chinename {
              margin-left: 25px;
              height: 40px;
              line-height: 40px;
            }
            .content_userlist_add {
              float: right;
              cursor: pointer;
              text-align: center;
            }
          }
        }
        li:hover {
          background: #434a55;
        }
      }
    }
  }
  
}
