.selected {
  display: flex;
  .nav_wrap {
    width: 300px;
    .list_nav {
      width: 300px;
      font-size: 16px;
      color: rgb(255, 255, 255);
      box-sizing: content-box;
      padding-left: 20px;
      position: fixed;
      top: 155px;
      bottom: 10px;
      padding: 0;
      li {
        height: 60px;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        border-left: 2px solid #4b4b5a;
        span {
          position: relative;
          font-size: 16px;
          line-height: 70px;
          height: 70px;
          display: inline-block;
          text-align: center;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-right: 30px;
          padding: 0 20px;
        }
        .list_icon {
          width: 36px;
          margin-left: 30px;
        }
        .cur {
          width: 100px;
          position: absolute;
          left: -27px;
          top: 5px;
          z-index: -1;
          transform: rotateZ(90deg);
          
        }
        .border{
            height: 36px;
            border-left: 2px solid #008FF1;
            position: absolute;
            left: -2px;
            top: 50%;
            transform: translateY(-50%);
        }
      }
    }
  }
  .list_wrap {
    // margin: auto 445px;
    background: red;
    background-color: #262630;
    background-image: linear-gradient(to right, #262630, #2b2b35);
    width: 1030px;
    margin: auto;
    margin-top: 20px;

    .list {
      clear: both;
      padding-top: 10px;
      min-height: 500px;
      position: relative;
      .nodata {
        color: white;
        text-align: center;
        margin-top: 20%;
      }
      .loadingData {
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      ul {
        list-style: none;
        .jzgd {
          padding: 20px 0;
          text-align: center;
          font-size: 14px;
          color: #bcc2d5;
          cursor: pointer;
        }
      }
    }
  }
}
