.usercollection {
  .ss {
    height: 95px;
    line-height: 95px;
    p {
      font-size: 20px;
      color: #fff;
      display: inline;
      margin-top: 45px;
    }
    input {
      margin-left: 760px;
      background-color: #494959;
      border: none;
      outline: none;
      box-sizing: border-box;
      color: white;
      height: 30px;
      width: 200px;
      padding-left: 20px;
      background: url("../../assets//img/scsearch.png") 90% 50% no-repeat
        #494959;
      cursor: pointer;
    }
    .plfx {
      float: right;
      margin-right: 0;
      height: 30px;
      width: 110px;
      line-height: 30px;
      border: 1px solid #676770;
      margin-top: 35px;
      box-sizing: border-box;
      padding-left: 40px;
      background: url("../../assets/img/sczhuanfa.png") 20% 50% no-repeat;
      cursor: pointer;
      // height: 110px;
    }
  }
  .collectionlist {
    width: 1200px;
    height: 550px;
    ul {
      list-style: none;
      li {
        position: relative;
        width: 285px;
        float: left;
        height: 240px;
        margin-right: 15px;
        margin-top: 30px;
        background-color: #3a3a48;
        div.cjsqhz {
          border: 2px dashed #9499aa;
          margin: 10px;
          height: 215px;
        }
        img {
          width: 100%;
          //height: 112px;
        }
        img.cjsq {
          width: 40px;
          height: 40px;
          margin-top: 86px;
          margin-left: 125px;
        }
        span {
          display: block;
          margin-left: 30px;
        }
        span.cjsqmz {
          text-align: center;
          margin-top: 15px;
          color: #a2a7b9;
        }
        span.name {
          font-size: 16px;
          color: #fff;
          margin-top: 10px;
          background: url("../../assets/img/sczhuanfa.png") 90% 50% no-repeat;
          cursor: pointer;
        }
        span.time {
          font-size: 13px;
          color: #bcc2d5;
          margin-top: 10px;
        }
        button.edit {
          position: absolute;
          right: 10px;
          top: 10px;
          margin-left: 20px;
          padding-left: 10px;
        }
        button.delete {
          position: absolute;
          // background-color: #f4516c;
          // width: 80px;
          // height: 30px;
          top: 10px;
          right: 100px;
          padding-left: 20px;
          // box-sizing: border-box;
        }
      }
      li:nth-child(4n + 4) {
        margin-right: 0;
      }
    }
  }
}
