.userform {
    .top_nav {
        padding-top: 16px;
        height: 80px;
        line-height: 80px;
        display: flex;
        ul {
            li {
                float: left;
                margin-right: 75px;
                font-size: 16px;
                color: white;
                cursor: pointer;
            }
            li.router-link-active {
                font-size: 20px;
                border-bottom: 1px solid red;
            }
        }
        ul:after {
            display: block;
            content: '';
            clear: both;
        }
    }
}