.userform {
    .top_nav {
        margin-top: 50px;
        div {
            float: left;
            width: 200px;
            font-size: 16px;
            color: white;
            cursor: pointer;
        }
        div.cur {
            font-size: 20px;
        }
    }
}