.userform {
    .top_nav {
        margin-top: 50px;
        div {
            float: left;
            width: 200px;
            font-size: 16px;
            color: white;
            cursor: pointer;
            height: 26px;
        }
        div.router-link-active {
            font-size: 20px;
        }
    }
    .top_nav:after {
        display: block;
        content: '';
        clear: both;
    }
}