.channel {
    // height: 640px;
    margin: 0 60px;
    .concerned {
        min-height: 320px;
        padding-top: 40px;
        padding-bottom: 10px;
        border-bottom: 1px solid #5c5c6b;
        .concerned_p {
            font-size: 20px;
            font-weight: bold;
        }
        ul {
            overflow: hidden;
            li {
                margin-top: 40px;
                width: 108px;
                float: left;
                div {
                    .flag {
                        height: 30px;
                        display: block;
                        margin-left: 20px;
                    }
                    p {
                        font-size: 15px;
                        margin-top: 20px;
                        width: 60px;
                        // 是禁止换行。
                        white-space: nowrap;
                        display: inline-block;
                        overflow: hidden;
                        text-align: center;
                        margin-left: 10px;
                    }
                    img.close {
                        cursor: pointer;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    .noattention {
        height: 320px;
        padding-top: 40px;
        .noattention_p,
        .open {
            font-size: 20px;
            font-weight: bold;
            display: inline-block;
        }
        .open {
            float: right;
            img {
                cursor: pointer;
            }
        }
        ul {
            li {
                margin-top: 40px;
                width: 108px;
                float: left;
                div {
                    .flag {
                        height: 30px;
                        display: block;
                        margin-left: 20px;
                    }
                    p {
                        font-size: 15px;
                        margin-top: 20px;
                        width: 60px;
                        // 是禁止换行。
                        white-space: nowrap;
                        display: inline-block;
                        overflow: hidden;
                        text-align: center;
                        margin-left: 10px;
                    }
                    img.add {
                        cursor: pointer;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}