.channel {
    margin: 0 60px;
    .concerned {
        min-height: 320px;
        padding-top: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid #5c5c6b;
        .concerned_p {
            font-size: 20px;
            font-weight: bold;
        }
        ul {
            overflow: hidden;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding-bottom: 10px;
            li {
                margin-top: 30px;
                display: flex;
                width: 216px;
                div {
                    width: 184px;
                    height: 40px;
                    background: #71718A;
                    align-items: center;
                    position: relative;
                    line-height: 40px;
                    padding-left: 15px;
                    p {
                        font-size: 15px;
                        width: 139px;
                        white-space: nowrap;
                        display: inline-block;
                        overflow: hidden;
                        padding-left: 15px;
                        height: 40px;
                        line-height: 40px;
                    }
                    .i_mg {
                        // width: 45px;
                        // height: 40px;
                        // padding: 0;
                        // background: #555566;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 43px;
                        height: 40px;
                        line-height: 40px;
                        padding: 0;
                        display: inline-block;
                        border-left: 1px solid #979797;
                        background: #555566;
                        img.close {
                            cursor: pointer;
                            margin-left: 17.6px;
                        }
                    }
                }
            }
            li:nth-child(5n) {
                margin-right: 0;
            }
        }
    }
    .noattention {
        // min-height: 320px;
        padding-top: 40px;
        .noattention_p,
        .open {
            font-size: 20px;
            font-weight: bold;
            display: inline-block;
            cursor: pointer;
        }
        .open {
            float: right;
            img {
                cursor: pointer;
            }
        }
        ul {
            overflow: hidden;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding-bottom: 20px;
            li {
                margin-top: 30px;
                display: flex;
                width: 216px;
                div.no_noattention {
                    position: relative;
                    width: 184px;
                    height: 40px;
                    align-items: center;
                    border: 1px solid #979797;
                    box-sizing: border-box;
                    padding-left: 15px;
                    .pname {
                        font-size: 15px;
                        width: 139px;
                        white-space: nowrap;
                        // display: inline-block;
                        overflow: hidden;
                        // padding-left: 15px;
                        height: 40px;
                        line-height: 40px;
                        .dom {
                            left: 15px !important;
                        }
                    }
                    .i_mg {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 43px;
                        height: 40px;
                        line-height: 40px;
                        padding: 0;
                        display: inline-block;
                        border-left: 1px solid #979797;
                        img.add {
                            cursor: pointer;
                            margin-left: 17.6px;
                        }
                    }
                }
            }
            li:nth-child(5n) {
                margin-right: 0;
            }
        }
    }
}