.platformoperations {
    display: flex;
    .content {
        width: 100%;
        margin: 0 auto;
        background-color: #3a3a48;
    }
    .menu {
        margin: 0 60px;
        padding-top: 5px;
        color: white;
        font-size: 16px;
        ul {
            margin: 35px 0 27px 0;
            li {
                float: left;
                cursor: pointer;
                margin-right: 5px;
            }
            li.active {
                font-size: 20px;
                font-weight: bold;
            }
        }
        ul:after {
            display: block;
            content: '';
            clear: both;
        }
    }
    .menu_content {
        margin: 0 60px;
    }
}