.addcollection {
    .collectionList {
        ul {
            list-style: none;
            height: 312px;
            li {
                height: 52px;
                line-height: 52px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 10px 0;
                color: white;
            }
            li:hover {
                padding-left: 20px;
                padding-right: 10px;
                background: #818189;
            }
        }
        .addnew {
            cursor: pointer;
            color: white;
        }
        .addnewcontent {
            width: 700px;
            background-color: #4C4D5E;
            margin-top: 20px;
            padding-left: 24px;
            div.scjmc {
                padding-top: 24px;
                color: white;
                span {
                    margin-bottom: 15px;
                }
                input {
                    width: 460px;
                    background-color: #4d4d5d;
                    color: white;
                    border: none;
                    outline: none;
                    padding-bottom: 15px;
                    margin-left: 10px;
                    font-size: 14px;
                }
                // input::after {
                //     display: block;
                //     content: '';
                //     position: absolute;
                //     border: 1px solid red;
                // }
                input::-webkit-input-placeholder {
                    /* WebKit browsers */
                    color: #A5A8AD;
                    font-size: 14px;
                }
                input:-moz-placeholder {
                    /* Mozilla Firefox 4 to 18 */
                    color: #A5A8AD;
                    font-size: 14px;
                }
                input::-moz-placeholder {
                    /* Mozilla Firefox 19+ */
                    color: #A5A8AD;
                    font-size: 14px;
                }
                input:-ms-input-placeholder {
                    /* Internet Explorer 10+ */
                    color: #A5A8AD;
                    font-size: 14px;
                }
            }
            .sqfm {
                position: relative;
                margin-top: 25px;
                padding-top: 0;
                padding-bottom: 15px;
                .sqfms {
                    color: white;
                    // position: absolute;
                    // top: 0;
                    vertical-align: top;
                }
                label {
                    // position:relative;
                    margin-left: 10px;
                    span.xzfm {
                        width: 170px;
                        height: 100px;
                        display: inline-block;
                        border: 1px dashed #FFFFFF;
                        img {
                            padding-top: 20.7px;
                            padding-left: 65px;
                        }
                        p {
                            text-align: center;
                            margin-top: 10px;
                            color: white;
                        }
                    }
                    .kaoyou {
                        position: absolute;
                        top: 25px;
                        left: 176px;
                    }
                    .cxxz {
                        margin-left: 25px;
                        color: #B2D5FF;
                        cursor: pointer;
                        font-size: 16px;
                    }
                }
            }
        }
        .caozuo {
            margin-top: 20px;
            text-align: center;
            span {
                margin-right: 10px;
                color: white;
                cursor: pointer;
                display: inline-block;
                width: 100px;
                height: 36px;
                line-height: 36px;
                border-radius: 3px;
            }
            span:hover {
                background-color: #409EFF;
            }
        }
    }
}