.addcollection {
    .collectionList {
        ul {
            list-style: none;
            height: 312px;
            li {
                height: 52px;
                line-height: 52px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 10px 0;
                color: white;
            }
            li:hover {
                padding-left: 20px;
                padding-right: 10px;
                background: rgba(255, 255, 255, 0.4);
            }
        }
        .addnew {
            cursor: pointer;
            margin-bottom: 20px;
            color: white;
        }
        .addnewcontent {
            width: 700px;
            height: 160px;
            // margin-top: 20px;
            background-color: #4C4D5E;
            div {
                margin-top: 30px;
                width: 260px;
                float: left;
                height: 50px;
                color: white;
                margin-left: 30px;
                span {
                    display: block;
                    margin-bottom: 15px;
                }
                input {
                    background-color: #4d4d5d;
                    color: #989BAC;
                    border: none;
                    outline: none;
                    padding-bottom: 15px;
                }
                // input::after {
                //     display: block;
                //     content: '';
                //     position: absolute;
                //     border: 1px solid red;
                // }
                input::-webkit-input-placeholder {
                    /* WebKit browsers */
                    color: #989BAC;
                }
                input:-moz-placeholder {
                    /* Mozilla Firefox 4 to 18 */
                    color: #989BAC;
                }
                input::-moz-placeholder {
                    /* Mozilla Firefox 19+ */
                    color: #989BAC;
                }
                input:-ms-input-placeholder {
                    /* Internet Explorer 10+ */
                    color: #989BAC;
                }
            }
            .sqfm{
              position:relative;
              label{
                // position:relative;
                .kaoyou{
                  position:absolute;
                  top:25px;
                  left:176px;
                }
              }
            }
        }
        .caozuo {
        
            margin-top: 20px;
            text-align: center;
            span {
                margin-right: 10px;
                color: white;
                cursor: pointer;
                display: inline-block;
                width: 100px;
                height: 36px;
                line-height: 36px;
                border-radius: 3px;
            }
            span:hover {
                background-color: #0079ED;
            }
        }
    }
}