*{
    margin: 0;
    padding: 0;
}

$font-size:16px;

@function rem($px){
    @return ($px/$font-size/2)*1rem;
}

body{
    background: rgb(242, 242, 242)
}
li{list-style: none;}
header{
    width: 100%;
    margin: auto;
    background: url(../img/back.png) no-repeat;
    background-size: 115%;
    background-position: rem(-120px) rem(-100px);
    padding-top: 1px;
    padding-bottom: rem(20px);
    p:first-of-type{
        font-size:rem(72px);
        font-family:SourceHanSansCN-Medium;
        font-weight:500;
        color:rgba(255,255,255,1);
        text-align: center;
        margin-top: rem(40px);
    }
    p:last-of-type{
        font-size:rem(24px);
        font-family:SourceHanSansCN-Normal;
        font-weight:400;
        color:rgba(255,255,255,1);
        text-align: center;
    }
}
.list{
    width: rem(710px);
    margin: auto;
    background:rgba(255,255,255,1);
    border-radius:rem(12px);
    margin-top: rem(40px);
    li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(30px);
        border-bottom: 1px solid rgba(225,225,225,1);
        .left{
            .top{
                font-size:rem(30px);
                font-family:SourceHanSansCN-Regular;
                font-weight:400;
                color:rgba(51,51,51,1);
            }
            .time{
                font-size:rem(22px);
                font-family:SourceHanSansCN-Regular;
                font-weight:400;
                color:rgba(153,153,153,1);
                margin-top: rem(10px);
            }
        }
    }
    li:last-of-type{
        border-bottom: none;
    }
}