.accountlogin {
  margin-left: 15%;
  width: 70%;
  .sub_btn {
    display: flex;
    margin-top: 40px;
  }
  .other {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    .el-checkbox {
      color: white;
    }
    .foget_pwd {
      cursor: pointer;
    }
    .foget_pwd:hover {
      text-decoration: underline;
    }
  }
}
