* {
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
}

header {
  width: 23.4375rem;
  height: 10rem;
  background: url(../img/back1@2x.png) no-repeat;
  background-size: 100%;
  box-sizing: border-box;
  padding-top: 1px;
}

header p:first-of-type {
  margin-top: 1.65625rem;
  margin-left: 1.96875rem;
  font-size: 1.5rem;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  color: white;
  line-height: 1.5rem;
}

header p:last-of-type {
  margin-left: 1.96875rem;
  font-size: 1.125rem;
  font-family: SourceHanSansCN-Normal;
  font-weight: 400;
  color: white;
  line-height: 1.5rem;
}

header .footer {
  width: 19.25rem;
  margin: auto;
  padding: 0.90625rem 0 0.90625rem 0.90625rem;
  margin-top: 1.40625rem;
  background: white;
  opacity: 0.92;
  border-radius: 12px;
  font-size: 0.8125rem;
  font-family: SourceHanSansCN-Normal;
  font-weight: 400;
  color: #333333;
  line-height: 1.125rem;
}

.center {
  width: 21.5625rem;
  background: white;
  border-radius: 0.375rem;
  padding-top: 1px;
  margin: 0.9375rem auto;
}

.center .ipt {
  width: 19.0625rem;
  margin: 0.625rem auto;
}

.center .ipt input {
  width: 16.96875rem;
  padding: 0.625rem 0 0.625rem 2.09375rem;
  background: #fff9db;
  border-radius: 0.375rem;
  border: none;
  outline: none;
}

.center .ipt input::-webkit-input-placeholder {
  font-size: 0.9375rem;
}

.center .ipt:first-of-type {
  margin-top: 2.09375rem;
}

.center footer {
  width: 100%;
  text-align: center;
}

.center footer button {
  width: 19.0625rem;
  background: #f1c101;
  border-radius: 1.40625rem;
  font-size: 1rem;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  color: white;
  line-height: 1.5rem;
  text-shadow: 0px 2px 6px #d3af06;
  padding: 0.625rem 0;
  margin: 1.5625rem 0;
  border: none;
  outline: none;
}
