*{margin: 0;padding: 0};

$font-size:16px;

@function rem($px){
    @return $px/$font-size/2*1rem;
}

body{
    background:rgba(242,242,242,1);
}

header{
    width: rem(750px);
    height: rem(320px);
    background: url(../img/back1@2x.png) no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    padding-top: 1px;
    p:first-of-type{
        margin-top: rem(64px);
        margin-left: rem(63px);
        font-size:rem(48px);
        font-family:SourceHanSansCN-Medium;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height:rem(48px);
    }
    p:last-of-type{
        margin-left: rem(63px);
        margin-top: rem(10px);
        font-size:rem(36px);
        font-family:SourceHanSansCN-Normal;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:rem(48px);
    }
    .footer{
        width: rem(616px);
        margin: auto;
        padding: rem(29px);
        margin-top: rem(35px);
        background:rgba(255,255,255,1);
        opacity:0.92;
        border-radius:12px;
        display: flex;
        justify-content: space-between;
        div{
            font-size:rem(36px);
            font-family:SourceHanSansCN-Medium;
            font-weight:500;
            color:rgba(239,165,7,1);
            line-height:rem(36px);
        }
    }
}
.center{
    width:rem(690px);
    background:rgba(255,255,255,1);
    border-radius:rem(12px);
    padding: rem(50px) 0;
    margin: rem(20px) auto;
    li{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: rem(20px) rem(23px) 0 rem(23px);
        .img{
            width: rem(61px);
            height: rem(61px);
            border-radius: 50%;
            img{
                width: 100%;
                display: block;
            }
        }
        .text{
            margin-left: rem(10px);
            width: inherit;
            p{
                font-size:rem(30px);
                font-family:SourceHanSansCN-Medium;
                font-weight:500;
                color:rgba(51,51,51,1);
                line-height:rem(48px);
            }
            .foot{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #E1E1E1;
                padding-bottom: rem(20px);
                span{
                    font-size:rem(24px);
                    font-family:SourceHanSansCN-Normal;
                    font-weight:400;
                    color:rgba(153,153,153,1);
                }
            }
        }
    }
}