*{margin: 0;padding: 0};

$font-size:16px;

@function rem($px){
    @return $px/$font-size/2*1rem;
}

body{
    background:rgba(242,242,242,1);
}

header{
    width: rem(750px);
    height: rem(320px);
    background: url(../img/back1@2x.png) no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    padding-top: 1px;
    p:first-of-type{
        margin-top: rem(105px);
        margin-left: rem(63px);
        font-size:rem(48px);
        font-family:SourceHanSansCN-Medium;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height:rem(48px);
    }
    p:last-of-type{
        margin-left: rem(63px);
        font-size:rem(42px);
        font-family:SourceHanSansCN-Normal;
        font-weight:400;
        font-style:italic;
        color:rgba(255,255,255,1);
        line-height:rem(48px);
    }
    .footer{
        margin-top: rem(49px);
        span{
            font-size:rem(26px);
            font-family:SourceHanSansCN-Medium;
            font-weight:500;
            color:rgba(51,51,51,1);
            line-height:rem(48px);
        }
        span:first-of-type{
            margin-left: rem(63px);
        }
        span:last-of-type{
            margin-left: rem(226px);
        }
    }
}
.month{
    display: flex;
    align-items: center;
    width:rem(690px);
    margin: auto;
    margin-top: rem(62px);
    span{
        font-size:rem(36px);
        font-family:SourceHanSansCN-Normal;
        font-weight:400;
        color:rgba(51,51,51,1);
        line-height:rem(37px);
    }
    p{
        font-size: rem(40px);
        font-weight: 500;
    }
}
.menu{
    margin: auto;
    margin-top:  rem(38px);
    width:rem(690px);
    background:rgba(255,255,255,1);
    border-radius:rem(12px);
    display: flex;
    flex-wrap: wrap;
    figure{
        width: rem(142px);
        margin: rem(70px) 0;
        margin-left: rem(130px);
        text-align: center;
        .img{
            width: 100%;
            img{
                width: 100%;
                display: block;
            }
        }
        figcaption{
            font-size:rem(30px);
            font-family:SourceHanSansCN-Regular;
            font-weight:400;
            color:rgba(102,102,102,1);
            line-height:rem(48px);
            margin: rem(10px) 0;
        }
    }
}