*{margin: 0;padding: 0};

$font-size:16px;

@function rem($px){
    @return $px/$font-size/2*1rem;
}

body{
    background:rgba(242,242,242,1);
}
li{list-style: none;}

header{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: white;
    padding: rem(17px) 0 rem(17px) rem(40px);
    div{
        width: rem(80px);
        height: rem(80px);
        img{
            width: 100%;
            display: block;
        }
    }
    p{
        margin-left: rem(29px);
        font-size:rem(28px);
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(51,51,51,1);
    }
}
.center{
    width:rem(690px);
    background:rgba(255,255,255,1);
    border-radius:rem(10px);
    margin: rem(20px) auto;
    box-sizing: border-box;
    position: relative;
    .yaJin{
        width: rem(109px);
        height: rem(109px);
        position: absolute;
        top: 0;
        left: rem(581px);
        img{
            width: 100%;
            display: block;
        }
    }
    ul{
        width: 100%;
        padding: rem(50px);
        padding-bottom: rem(20px);
        box-sizing: border-box;
        li{
            font-size: rem(28px);
            font-family:MicrosoftYaHei;
            font-weight:400;
            color:rgba(102,102,102,1);
            margin: rem(30px) 0;
            span{
                color:rgba(51,51,51,1);
            }
        }
        li:first-of-type{
            margin: 0;
        }
        li:nth-of-type(5){
            input{
                width:rem(240px);
                border:1px solid rgba(191,191,191,1);
                border-radius:rem(12px);
                padding: rem(12px) rem(60px);
                outline: none;
            }
        }
        .showImg{
            .wrap{
                display: flex;
                flex-wrap: wrap;
                margin: rem(20px) 0;
                .imgWrap{
                    width: rem(132px);
                    height: rem(124px);
                    margin: rem(7px);
                    overflow: hidden;
                    img{
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
        li:last-of-type{
            textarea{
                margin-top: rem(20px);
                padding: rem(16px) 0 0 rem(20px);
                outline: none;
            }
        }
    }
}
footer{
    width: 100%;
    text-align: center;
    button{
        width:rem(690px);
        background:rgba(253,209,1,1);
        border-radius:rem(44px);
        font-size:rem(32px);
        font-family:SourceHanSansCN-Medium;
        font-weight:500;
        color:rgba(255,255,255,1);
        line-height:rem(48px);
        border: none;
        padding: rem(20px) 0;
        outline: none;
    }
}

.showWindow{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    .imgwraper{
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        img{
            max-width: 100%;
        }
    }
}