.userfollow {
    .top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 48px;
        margin-bottom: 29px;
        line-height: 30px;
        // height: 60px;
        &_nav {
            display: flex;
            width: 485px;
            flex-shrink: 0;
            justify-content: space-between;
            li {
                list-style: none;
                cursor: pointer;
            }
            .active {
                font-size: 20px;
            }
        }
        &_search {
            position: relative;
            input {
                width: 199px;
                height: 30px;
                background: #494959;
                border: none;
                outline: none;
                color: white;
                box-sizing: border-box;
                padding: 9px 20px 7px 19px;
                font-size: 14px;
            }
            input::placeholder {
                color: #cdd6e5;
            }
            .clear,img{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
            }
            .clear{
                cursor: pointer;
            }
        }
    }
    .content {
        // height: 640px;
        background-color: #3a3a48;
        overflow: hidden;
        // margin-bottom: 200px;
    }
}