.userpassword {
  width: 100%;
  .choose_nav {
    margin-top: 47px;
    margin-bottom: 29px;
    font-size: 20px;
  }
  .userpassword_wrap {
    background: #3a3a48;
    color: white;
    box-sizing: border-box;
    padding: 60px 0 60px 99px;
    .item {
      padding: 5px 0;
      .usrpwd {
        width: 400px;
        background: none;
        border: none;
        outline: none;
        color: white;
      }
      .fogetpwd {
        margin-left: 40px;
        font-size: 14px;
        cursor: pointer;
      }
      .fogetpwd:hover {
        text-decoration: underline;
      }
      .usrpwd::placeholder {
        color: #bcc2d5;
      }
    }
  }
  .footer {
    text-align: center;
    padding: 40px 0;
  }
}
