.userpassword {
  width: 100%;
  .choose_nav {
    margin-top: 47px;
    margin-bottom: 29px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    p {
      font-size: 20px;
    }
    span {
      font-size: 14px;
      cursor: pointer;
    }
    span:hover {
      text-decoration: underline;
    }
  }
  .userpassword_wrap {
    background: #3a3a48;
    color: white;
    box-sizing: border-box;
    padding: 60px 0 60px 99px;
    .normal {
      .item {
        padding: 5px 0;
        .usrpwd {
          width: 400px;
          background: none;
          border: none;
          outline: none;
          color: white;
        }
        .fogetpwd {
          margin-left: 40px;
          font-size: 14px;
          cursor: pointer;
        }
        .fogetpwd:hover {
          text-decoration: underline;
        }
        .usrpwd::placeholder {
          color: #bcc2d5;
        }
      }
    }
    .foget{
      .item {
        padding: 5px 0;
        position: relative;
        .usrpwd {
          width: 400px;
          background: none;
          border: none;
          outline: none;
          color: white;
        }
        .get_code{
          width: 140px;
          height: 34px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 256px;
          top: -10px;
          border: 1px solid white;
          opacity: .5;
          cursor: pointer;
        }
        .fogetpwd {
          margin-left: 40px;
          font-size: 14px;
          cursor: pointer;
        }
        .fogetpwd:hover {
          text-decoration: underline;
        }
        .usrpwd::placeholder {
          color: #bcc2d5;
        }
      }
    }
  }
  .footer {
    text-align: center;
    padding: 40px 0;
  }
  .img_code_wrap{
    .img_code_item{
      position: relative;
      span{
        color: white;
      }
      input{
        border: none;
        outline: none;
        background: none;
        border-bottom: 1px solid #4d4d5d;
        color: white;
        padding: 20px 0;
      }
      img{
        width: 100px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .footer{
      text-align: right;
    }
  }
  
}
