.myfollow {
    // display: flex;
    .list_wrap {
        margin-top: 20px;
        // margin: auto 445px;
        background: red;
        background-color: #262630;
        background-image: linear-gradient(to right, #262630, #2b2b35);
        width: 1030px;
        margin-left: 235px;
        .list_nav {
            font-size: 16px;
            font-family: "PingFangSC";
            color: rgb(255, 255, 255);
            height: 70px;
            border-bottom: 1px solid #3a3a48;
            box-sizing: content-box;
            span {
                position: relative;
                // top: 20px;
                margin-right: 110px;
                font-size: 16px;
                line-height: 70px;
                height: 70px;
                display: inline-block;
                cursor: pointer;
            }
            span.cur {
                background-image: url("../../assets/img/cur.png");
                background-position: bottom;
                background-repeat: no-repeat;
            }
            span:first-child {
                margin: 0px 120px 0px 60px;
                font-weight: bold;
                font-size: 20px;
            }
        }
        .list {
            padding-top: 10px;
            ul {
                list-style: none;
                padding-left: 40px;
                li {
                    margin-top: 30px;
                    // padding-left: 50px;
                    padding-bottom: 30px;
                    overflow: hidden;
                    // border-bottom: 1px solid #3a3a48;
                    // box-sizing: border-box;
                    border-bottom: 1px solid #3a3a48;
                    .ly {
                        overflow: hidden;
                        .tx {
                            float: left;
                            width: 54px;
                        }
                        .sjrs {
                            float: left;
                            // height: 54px;
                            // border: 1px solid red;
                            margin-left: 20px;
                            // width: 780px;
                            .time,
                            .ll {
                                color: #bcc2d5;
                                font-size: 13px;
                                color: #bcc2d5;
                            }
                            .time {
                                margin-right: 25px;
                            }
                            .mt {
                                font-size: 16px;
                                color: white;
                                display: block;
                            }
                        }
                    }
                    .text {
                        float: left;
                        width: 633px;
                        .title {
                            font-size: 16px;
                            color: #e2e2e4;
                        }
                    }
                    .zan {
                        float: right;
                        margin-right: 40px;
                        span {
                            margin-left: 10px;
                            margin-right: 20px;
                            font-size: 13px;
                            color: #bcc2d5;
                        }
                    }
                }
                .jzgd {
                    padding: 20px 0;
                    text-align: center;
                    font-size: 14px;
                    color: #bcc2d5;
                }
            }
        }
    }
}