.platformoperation {
    padding-top: 60px;
    .content {
        width: 1200px;
        height: 1230px;
        margin: 0 auto;
        background-color: #3a3a48;
        border: 1px solid red;
    }
}