.recommend {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    .mainpage {
        width: 1030px;
        // border: 1px solid;
        flex-shrink: 0;
        .banner {
            width: 100%;
            height: 300px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            img {
                width: 100%;
                display: block;
            }
            .banner-p {
                font-size: 20px;
                color: white;
                position: absolute;
                left: 20px;
                bottom: 20px;
                // background: url("../../assets/img/msak_03.png") left bottom no-repeat;
                // font-size: 20px;
                // color: white;
                // position: absolute;
                // left: 0;
                // bottom: 0;
                // height: 230px;
                // width: 100%;
                // background: url("../../assets/img/msak_03.png") left bottom no-repeat;
                z-index: 10;
            }
            .load {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 230px;
                background: url("../../assets/img/msak.png") left bottom no-repeat;
                //background-image: linear-gradient( to right, #646771, #636670);
                line-height: 50px;
                text-align: center;
                z-index: 1;
                // color: #50535b;
            }
        }
        .list_wrap {
            margin-top: 20px;
            background: red;
            background-color: #262630;
            background: rgba(41, 41, 52, 1);
            background: -moz-linear-gradient(left, rgba(41, 41, 52, 1) 0%, rgba(43, 43, 53, 1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(41, 41, 52, 1)), color-stop(100%, rgba(43, 43, 53, 1)));
            background: -webkit-linear-gradient(left, rgba(41, 41, 52, 1) 0%, rgba(43, 43, 53, 1) 100%);
            background: -o-linear-gradient(left, rgba(41, 41, 52, 1) 0%, rgba(43, 43, 53, 1) 100%);
            background: -ms-linear-gradient(left, rgba(41, 41, 52, 1) 0%, rgba(43, 43, 53, 1) 100%);
            background: linear-gradient(to right, rgba(41, 41, 52, 1) 0%, rgba(43, 43, 53, 1) 100%);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
            border-radius: 3px;
            .list_nav {
                display: flex;
                align-items: center;
                font-size: 16px;
                color: rgb(255, 255, 255);
                height: 70px;
                border-bottom: 1px solid #242432;
                margin-left: 40px;
                position: relative;
                .page_left,
                .page_right {
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 5;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 10px;
                        cursor: pointer;
                    }
                }
                .page_left {
                    width: 60px;
                    height: 30px;
                    left: 70px;
                    background: -webkit-linear-gradient(left, #292934 0%, rgba(41, 41, 52, .5) 100%);
                }
                .page_right {
                    right: 90px;
                    height: 105%;
                    background: -webkit-linear-gradient(left, rgba(41, 41, 52, .5) 0%, #292934 100%);
                }
                .cur {
                    background-image: url("../../assets/img/cur.png") !important;
                    background-size: 100% 100%;
                    background-position: center bottom !important;
                    background-repeat: no-repeat !important;
                }
                .recommend_nav {
                    display: block;
                    width: 100px;
                    flex-shrink: 0;
                    text-align: center;
                    height: 70px;
                    line-height: 70px;
                    cursor: pointer;
                }
                .swiper-container {
                    flex: 1;
                    margin-right: 30px;
                    .swiper-wrapper {
                        .swiper-slide {
                            width: auto;
                            text-align: center;
                            span {
                                display: block;
                                cursor: pointer;
                                font-size: 16px;
                                height: 70px;
                                line-height: 70px;
                                padding: 0 35px;
                            }
                        }
                    }
                }
                span.bj {
                    margin-right: 40px;
                    float: right;
                    font-size: 14px;
                    width: 50px;
                    flex-shrink: 0;
                    color: #7c7c7c;
                    text-align: right;
                    background: url("../../assets/img/editor.png") left center no-repeat;
                    cursor: pointer;
                    height: 70px;
                    line-height: 74px;
                }
            }
            .list {
                border-top: 1px solid #494958;
                ul {
                    list-style: none;
                    padding-left: 40px;
                    li {
                        padding-top: 36px;
                        // padding-left: 50px;
                        padding-bottom: 30px;
                        overflow: hidden;
                        // border-bottom: 1px solid #3a3a48;
                        // box-sizing: border-box;
                        border-bottom: 1px solid #3a3a48;
                        .pic {
                            float: left;
                            margin-right: 30px;
                            position: relative;
                            width: 200px;
                            height: 112px;
                            overflow: hidden;
                            .img {
                                width: 100%;
                                height: 132px;
                                transition: all 2s;
                            }
                            .img:hover {
                                transform: scale(1.2);
                            }
                        }
                        .text {
                            float: left;
                            width: 633px;
                            .title {
                                font-size: 16px;
                                color: #e2e2e4;
                                cursor: pointer;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            .title:hover {
                                text-decoration: underline;
                            }
                            .mt,
                            .time,
                            .ll {
                                margin-top: 10px;
                                display: block;
                                font-size: 13px;
                                color: #bcc2d5;
                                ;
                            }
                        }
                        .zan {
                            float: right;
                            display: flex;
                            align-items: center;
                            margin-right: 40px;
                            span {
                                margin-left: 10px;
                                margin-right: 20px;
                                font-size: 13px;
                                color: #bcc2d5;
                            }
                            img {
                                display: block;
                            }
                            .sczhuanfa {
                                cursor: pointer;
                            }
                        }
                    }
                    .jzgd {
                        padding: 20px 0;
                        text-align: center;
                        font-size: 14px;
                        color: #bcc2d5;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .message {
        width: 440px;
        //border: 1px solid;
        flex-shrink: 0;
        margin-left: 10px;
        border-radius: 3px;
        .top {
            height: 300px;
            display: block;
            flex-direction: column;
            border-radius: 3px;
            width: 440px;
            // background-image: linear-gradient(to bottom, #3a3a48, #262630);
            background: rgba(58, 58, 72, 1);
            background: -moz-linear-gradient(top, rgba(58, 58, 72, 1) 0%, rgba(38, 38, 48, 1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(58, 58, 72, 1)), color-stop(100%, rgba(38, 38, 48, 1)));
            background: -webkit-linear-gradient(top, rgba(58, 58, 72, 1) 0%, rgba(38, 38, 48, 1) 100%);
            background: -o-linear-gradient(top, rgba(58, 58, 72, 1) 0%, rgba(38, 38, 48, 1) 100%);
            background: -ms-linear-gradient(top, rgba(58, 58, 72, 1) 0%, rgba(38, 38, 48, 1) 100%);
            background: linear-gradient(to bottom, rgba(58, 58, 72, 1) 0%, rgba(38, 38, 48, 1) 100%);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            // box-shadow: 0 0 8px #000;
            border-radius: 3px;
            overflow: hidden;
            .media_nav {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 70px;
                border-bottom: 1px solid #242432;
                span {
                    cursor: pointer;
                    font-size: 16px;
                    color: rgb(255, 255, 255);
                    margin: 0 20px;
                    display: block;
                    line-height: 70px;
                    padding: 0 5px;
                    width: 150px;
                    text-align: center;
                }
                .cur {
                    background-image: url("../../assets/img/cur.png");
                    background-position: center bottom;
                    background-repeat: no-repeat;
                    width: 150px;
                    text-align: center;
                }
            }
            .media_content {
                border-top: 1px solid #494958;
                flex: 4;
                //background: -webkit-linear-gradient( 90deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
                .swiper-slide {
                    .country,
                    .media {
                        width: 440px;
                        height: 230px;
                        scrollbar-width: none;
                        padding: 0px 20px 0;
                        // align-content: baseline;
                        overflow-y: scroll;
                        scrollbar-width: none;
                        .item {
                            float: left;
                            width: 25%;
                            cursor: pointer;
                            padding: 5px 0;
                            line-height: 40px;
                            height: 56px;
                            img {
                                display: block;
                                width: 54px;
                                height: 35px;
                                margin: auto;
                                // border-radius: 50%;
                                overflow: hidden;
                            }
                            p {
                                text-align: center;
                                font-size: 15px;
                                color: rgb(255, 255, 255);
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                // padding: 10px 0;
                            }
                        }
                    }
                    .people,
                    .country {
                        // padding: 20px;
                        overflow-y: scroll;
                        scrollbar-width: none;
                        .item {
                            height: 115px;
                            img {
                                border-radius: 50%;
                                //     width: 50px;
                                //     height: 50px;
                            }
                            .name {
                                margin-top: 10px;
                                height: 20px;
                                line-height: 20px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                    .people {
                        .item {
                            padding-top: 20px !important;
                        }
                    }
                    .country {
                        .item {
                            height: auto;
                            padding-top: 30px;
                            img {
                                border-radius: 0;
                            }
                        }
                    }
                    .media {
                        // padding-top: 0 !important;
                        .item {
                            padding-bottom: 5px;
                        }
                        .mttx {
                            position: relative;
                            .dgdiv {
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                right: 22.125px;
                                bottom: 0px;
                                background-color: white;
                                border-radius: 50%;
                                display: flex;
                                // justify-content: center;
                                // align-items: center;
                                img {
                                   width:100%;
                                   height: 100%;
                                }
                            }
                        }
                        // .item {
                        //     p {
                        //         text-align: left;
                        //     }
                        // }
                    }
                    .people {
                        .item {
                            img {
                                height: 54px;
                            }
                        }
                    }
                    .country::-webkit-scrollbar,
                    .media::-webkit-scrollbar,
                    .people::-webkit-scrollbar {
                        display: none;
                    }
                }
            }
        }
    }
}