*{margin: 0;padding: 0}

$font-size:16px;

@function rem($px){
    @return ($px/$font-size/2) * 1rem;
}

body{
    background:rgba(248,249,253,1);
}

header{
    box-sizing: border-box;
    padding: 0 rem(40px);
    background: white;
    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            font-size:rem(30px);
            font-family:SourceHanSansCN-Normal;
            font-weight:400;
            color:rgba(51,51,51,1);
            line-height:rem(84px);
        }
        .right{
            display: flex;
            align-items: center;
            .text{
                font-size:rem(24px);
                font-family:SourceHanSansCN-Normal;
                font-weight:400;
                color:rgba(153,153,153,1);
                line-height:rem(84px);
                margin-right: rem(10px);
            }
            .img{
                width: rem(14px);
                img{
                    width: 100%;
                    display: block;
                }
            }
        }
    }
    .text{
        display: flex;
        justify-content: space-around;
        .items{
            width: rem(100px);
            .img{
                width: rem(42px);
                margin: auto;
                img{
                    width: 100%;
                    display: block;
                }
                .activeImg{
                    position: relative;
                    .num{
                        width: rem(30px);
                        height: rem(30px);
                        background: url(../img/1@2x.png) no-repeat;
                        background-size: 100%;
                        position: absolute;
                        top: rem(-10px);
                        left: rem(30px);
                        font-size: rem(5px);
                        color: red;
                    }
                }
                .noActiveImg{
                    position: relative;
                    .num{
                        width: rem(30px);
                        height: rem(30px);
                        background: url(../img/1copy@2x.png) no-repeat;
                        background-size: 100%;
                        position: absolute;
                        top: rem(-10px);
                        left: rem(30px);
                        font-size: rem(5px);
                        color: gray;
                    }
                }
            }
            p{
                width: 100%;
                font-size:rem(16px);
                font-family:SourceHanSansCN-Normal;
                font-weight:400;
                color:rgba(153,153,153,1);
                line-height:rem(54px);
                text-align: center;
            }
        }
    }
}
.orderInfo{
    width: 100%;
    margin: rem(20px) 0;
    background: white;
    .top{
        width: rem(690px);
        margin: auto;
        border-bottom: 1px solid rgba(153,153,153,1);
        padding: rem(20px) 0;
        p{
            font-size:rem(24px);
            font-family:SourceHanSansCN-Normal;
            font-weight:400;
            color:rgba(51,51,51,1);
            line-height:rem(54px);
        }
    }
    .center{
        display: flex;
        align-items: center;
        .img{
            width: rem(166px);
            height: rem(166px);
            img{
                width: 100%;
                display: block;
            }
        }
        .text{
            padding: rem(57px) 0;
            p:first-of-type{
                font-size:rem(30px);
                font-family:SourceHanSansCN-Normal;
                font-weight:400;
                color:rgba(51,51,51,1);
                line-height:rem(44px);
            }
            p:nth-of-type(2){
                font-size:rem(24px);
                font-family:SourceHanSansCN-Normal;
                font-weight:400;
                color:rgba(153,153,153,1);
            }
            p:nth-of-type(3){
                font-size:rem(40px);
                font-family:SourceHanSansCN-Bold;
                font-weight:bold;
                color:rgba(244,75,79,1);
                margin-top: rem(30px);
                span{
                    font-size:rem(20px);
                }
            }
        }
    }
}
.recipients{
    width: 100%;
    margin: rem(20px) 0;
    background: white;
    box-sizing: border-box;
    padding: rem(40px);
    .top{
        display: flex;
        align-items: center;
        .img{
            width: rem(24px);
            img{
                width: 100%;
                display: block;
            }
        }
        p{
            font-size:rem(24px);
            font-family:SourceHanSansCN-Normal;
            font-weight:400;
            color:rgba(51,51,51,1);
            line-height:rem(54px);
        }
    }
}
footer{
    width: 100%;
    background: white;
    box-sizing: border-box;
    padding: rem(86px) rem(20px) rem(100px) 0;
    border-bottom: 1px solid rgba(153,153,153,1);
    .top{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size:rem(24px);
        font-family:SourceHanSansCN-Normal;
        font-weight:400;
        color:rgba(51,51,51,1);
        line-height:rem(36px);
        p{
            font-size:rem(26px);
            color:rgba(244,75,79,1);
            margin-left: rem(20px);
            span{
                font-size:rem(40px);
                span{
                    font-size:rem(16px);
                }
            }
        }
    }
    .next{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size:rem(24px);
        font-family:SourceHanSansCN-Normal;
        font-weight:400;
        color:rgba(51,51,51,1);
        line-height:rem(36px);
        p{
            font-size:rem(40px);
            color:rgba(244,75,79,1);
            span{
                font-size:rem(16px);
            }
        }
    }
}
.active{
    color:rgba(51,51,51,1)!important;
}