*{margin: 0;padding: 0}

$font-size:16px;

@function rem($px){
    @return ($px/$font-size/2) * 1rem;
}

body{
    background:rgba(248,249,253,1);
}
li{list-style: none}
a{
    text-decoration: none;
    color: black;
    -webkit-tap-highlight-color: transparent;
}

ul{
    li{
        display: flex;
        align-items: center;
        background: white;
        box-sizing: border-box;
        padding: rem(29px) rem(58px);
        margin: rem(10px) 0;
        .img{
            width: rem(106px);
            height: rem(106px);
            img{
                width: 100%;
                display: block;
            }
        }
        p{
            font-size:rem(32px);
            font-family:SourceHanSansCN-Regular;
            font-weight:400;
            color:rgba(94,102,119,1);
            margin-left: rem(33px);
        }
    }
}

footer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: rem(15px) 0;
    a{
        display: block;
        width: rem(100px);
        .img{
            width: rem(46px);
            margin: auto;
            img{
                width: 100%;
                display: block;
            }
        }
        p{
            width: 100%;
            text-align: center;
            font-size:rem(20px);
            font-family:SourceHanSansCN-Regular;
            font-weight:400;
            color:rgba(203,193,193,1);
        }
    }
}
.active{
    font-weight:500;
    color:rgba(244,75,79,1);
}