* {
  margin: 0;
  padding: 0;
}

body {
  background: #f8f9fd;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  -webkit-tap-highlight-color: transparent;
}

ul li {
  display: flex;
  align-items: center;
  background: white;
  box-sizing: border-box;
  padding: 0.90625rem 1.8125rem;
  margin: 0.3125rem 0;
}

ul li .img {
  width: 3.3125rem;
  height: 3.3125rem;
}

ul li .img img {
  width: 100%;
  display: block;
}

ul li p {
  font-size: 1rem;
  font-family: SourceHanSansCN-Regular;
  font-weight: 400;
  color: #5e6677;
  margin-left: 1.03125rem;
}

footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 0.46875rem 0;
}

footer a {
  display: block;
  width: 3.125rem;
}

footer a .img {
  width: 1.4375rem;
  margin: auto;
}

footer a .img img {
  width: 100%;
  display: block;
}

footer a p {
  width: 100%;
  text-align: center;
  font-size: 0.625rem;
  font-family: SourceHanSansCN-Regular;
  font-weight: 400;
  color: #cbc1c1;
}

.active {
  font-weight: 500;
  color: #f44b4f;
}
