.registereduser {
    display: flex;
    .content {
        width: 100%;
        margin: 0 auto;
        background-color: #3a3a48;
        .content_tu {
            border-bottom: 1px solid #494959;
            .cjsjs {
                .cjsjs_head {
                    margin-top: 40px;
                    p {
                        font-size: 20px;
                        color: white;
                        display: inline;
                    }
                    .el-row {
                        float: right;
                        margin-right: 400px;
                        padding-bottom: 20px;
                        button {
                            width: 100px;
                        }
                    }
                    .zhi {
                        display: inline-block;
                        width: 16px;
                        font-weight: bold;
                    }
                    .zjsst {
                        margin-right: 30px;
                    }
                    .cjsjs_head_search {
                        height: 40px;
                        width: 50px;
                        margin-right: 60px;
                        text-align: center;
                        border: 1px solid #494959;
                        cursor: pointer;
                        float: right;
                        margin-right: 462px;
                        background: #494959;
                        img {
                            margin-top: 9px;
                            text-align: center;
                        }
                    }
                }
            }
            .cjsjs:after {
                display: block;
                clear: both;
                content: '';
            }
            .cjsjs_content {
                width: 100%;
                margin-top: 40px;
                background-color: #494959;
                text-align: center;
                display: flex;
                justify-content: space-between;
                div {
                    margin-left: 49px;
                    height: 150px;
                    position: relative;
                    width: 100px;
                    display: flex;
                    justify-content: center;
                }
                div p:first-child {
                    position: absolute;
                    // line-height: 130px;
                    font-size: 30px;
                    top: 35px;
                }
                div p:nth-child(2) {
                    position: absolute;
                    top: 80px;
                    font-size: 14px;
                }
                .inline {
                    width: 360px;
                    display: flex;
                    justify-content: space-between;
                    border-left: 1px solid #5c5c6b;
                    /* align-items: center; */
                    justify-content: center;
                }
            }
            .cjsjs_content::after {
                content: "";
                display: block;
                clear: both;
            }
            .hdyhqst {
                margin-top: 45px;
                .small {
                    .myChart3 {
                        width: 1200px;
                        height: 290px;
                    }
                }
            }
        }
        .content_form {
            margin-top: 40px;
            height: 400px;
            .content_form_one {
                display: flex;
                justify-content: space-between;
                .namelist {
                    font-size: 20px;
                }
                .export {
                    width: 100px;
                    display: inline-block;
                    height: 40px;
                    background-color: #494959;
                    text-align: center;
                    line-height: 40px;
                    color: white;
                    cursor: pointer;
                    font-size: 14px;
                    border-radius: 3px;
                }
                .searchdate {
                    cursor: pointer;
                    margin-right: 30px;
                    display: inline-block;
                    width: 50px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background-color: #494959;
                    border-radius: 3px;
                    img {
                        position: relative;
                        top: 10px;
                        left: 800px;
                    }
                }
                input {
                    height: 40px;
                    width: 200px;
                    line-height: 40px;
                    background-color: #494959;
                    border: none;
                    outline: none;
                    color: #cdd6e5;
                    padding-left: 25px;
                    border-radius: 3px;
                }
                input::-webkit-input-placeholder {
                    color: #cdd6e5;
                }
                input:-moz-placeholder {
                    color: #cdd6e5;
                }
                input::-moz-placeholder {
                    color: #cdd6e5;
                }
                input:-ms-input-placeholder {
                    color: #cdd6e5;
                }
                .searchinput {
                    position: relative;
                    top: 5px;
                    right: 26px;
                    cursor: pointer;
                }
                .export {
                    float: right;
                    margin-left: 25px;
                }
            }
            .content_form_list {
                ul {
                    background-color: #494959;
                    margin-top: 25px;
                    height: 300px;
                    overflow: hidden;
                    li:nth-child(1) {
                        border-bottom: 1px solid #5c5c6b;
                        display: flex;
                        justify-content: space-between;
                    }
                    li {
                        height: 50px;
                        line-height: 50px;
                        display: flex;
                        justify-content: space-between;
                        .list_li_accountnumber,
                        .list_li_name,
                        .list_li_time,
                        .list_li_phone,
                        .list_li_count {
                            color: white;
                            font-size: 14px;
                        }
                        .list_li_accountnumber {
                            width: 5%;
                            margin-left: 60px;
                        }
                        .list_li_name {
                            width: 10%;
                            text-align: center;
                        }
                        .list_li_phone,
                        .list_li_count,
                        .list_li_time {
                            text-align: center;
                        }
                        .list_li_phone {
                            width: 15%;
                        }
                        .list_li_time {
                            margin-right: 60px;
                            width: 30%;
                        }
                    }
                    li.active {
                        background: #4f4f5f;
                    }
                }
            }
        }
    }
}