.userusersaccount {
    .top {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #5c5c6b;
        padding-bottom: 20px;
        .userIco {
            width: 60px;
            height: 60px;
            overflow: hidden;
            border-radius: 5px;
            img {
                width: 100%;
            }
        }
        .nickname,
        .wename {
            font-size: 16px;
            margin-left: 30px;
            span:last-of-type {
                margin-left: 10px;
            }
        }
        .wename {
            margin-left: 50px;
        }
    }
    .body {
        display: flex;
        margin: 50px 0;
        .left,
        .right {
            font-size: 16px;
            p:last-of-type {
                padding: 20px 0;
            }
        }
        .right {
            margin-left: 200px;
        }
    }
    .restMode {
        .title {
            color: white;
            font-size: 20px;
            text-align: center;
            padding: 15px 0;
        }
        .newPwd {
            color: white;
            text-align: center;
            font-size: 16px;
            span {
                margin-left: 10px;
            }
            span:first-of-type {
                color: rgb(52, 182, 119);
                font-size: 20px;
            }
            span:last-of-type {
                color: #a2a7b9;
                font-size: 14px;
                cursor: pointer;
            }
            span:last-of-type:hover {
                text-decoration: underline;
            }
        }
        .message {
            color: #a2a7b9;
            font-size: 16px;
            text-align: center;
            padding: 15px 0;
        }
        .resBtn {
            text-align: center;
        }
    }
    .changePhone {
        &_top {
            display: flex;
            align-items: center;
            span {
                color: white;
                margin-left: 50px;
                font-size: 16px;
            }
            input {
                width: 400px;
                height: 30px;
                background: none;
                border: none;
                border-bottom: 1px solid gray;
                outline: none;
                color: white;
                margin-left: 20px;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            input[type="number"] {
                -moz-appearance: textfield;
            }
        }
        &_foot {
            text-align: center;
            margin-top: 50px;
        }
    }
    .reminder {
        text-align: center;
        img {
            text-align: center;
            margin-top: 50px;
        }
        &_sucess {
            margin-top: 20px;
            font-size: 20px;
            color: white;
        }
    }
}