.platformaccess {
    .content {
        width: 1200px;
        margin: 0 auto;
        background-color: #3a3a48;
        margin-left: -60px;
        .content_num {
            padding: 0 60px;
            padding-bottom: 50px;
            border-bottom: 1px solid #494959;
            ul {
                li {
                    float: left;
                    width: 250px;
                    height: 202px;
                    margin-right: 26px;
                    background-color: #494959;
                    .peoplenum {
                        text-align: center;
                        border-bottom: 1px solid #5c5c6b;
                        .num {
                            margin-top: 35px;
                            font-size: 40px;
                            height: 40px;
                            line-height: 40px;
                            // margin-top: 10px;
                        }
                        .name {
                            margin-top: 10px;
                            margin-bottom: 20px;
                            font-size: 14px;
                        }
                    }
                    .yesterday {
                        text-align: center;
                        .name {
                            font-size: 14px;
                            margin-top: 10px;
                        }
                        .num {
                            font-size: 16px;
                            margin-top: 10px;
                            color: #f4516c;
                        }
                    }
                }
                li:last-child {
                    margin-right: 0;
                }
            }
            ul:after {
                display: block;
                content: '';
                clear: both;
            }
        }
        .content_tu {
            border-bottom: 1px solid #494959;
            .cjsjs {
                padding-left: 60px;
                //float: right;
                margin-left: 370px;
                .cjsjs_head {
                    margin-top: 40px;
                    p {
                        font-size: 20px;
                        color: white;
                        display: inline;
                    }
                    .el-row {
                        float: right;
                        margin-right: 400px;
                        padding-bottom: 20px;
                        button {
                            width: 100px;
                        }
                    }
                    .zhi {
                        display: inline-block;
                        width: 16px;
                        font-weight: bold;
                    }
                    .zjsst {
                        margin-right: 30px;
                    }
                    .cjsjs_head_search {
                        display: inline-block;
                        height: 40px;
                        width: 50px;
                        // float: right;
                        margin-right: 60px;
                        text-align: center;
                        border: 1px solid #494959;
                        cursor: pointer;
                        img {
                            margin-top: 10px;
                        }
                    }
                }
            }
            .cjsjs:after {
                display: block;
                clear: both;
                content: '';
            }
            .cjsjqst {
                margin-top: 45px;
                padding-left: 60px;
                .small {
                    .myChart2 {
                        width: 1200px;
                        height: 290px;
                    }
                }
            }
            .hdyhqst {
                margin-top: 45px;
                padding-left: 60px;
                .small {
                    .myChart3 {
                        width: 1200px;
                        height: 290px;
                    }
                }
            }
        }
        .content_form {
            margin-top: 40px;
            height: 500px;
            padding: 0 60px;
            .content_form_one {
                .namelist {
                    font-size: 20px;
                }
                .Cumulative,
                .export {
                    width: 100px;
                    display: inline-block;
                    height: 40px;
                    background-color: #494959;
                    text-align: center;
                    line-height: 40px;
                    color: white;
                    cursor: pointer;
                    font-size: 14px;
                    border-radius: 3px;
                }
                .Cumulative {
                    margin-left: 100px;
                    margin-right: 30px;
                }
                .searchdate {
                    cursor: pointer;
                    margin-right: 30px;
                    display: inline-block;
                    width: 50px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background-color: #494959;
                    border-radius: 3px;
                    img {
                        position: relative;
                        top: 5px;
                        // margin-top: 10px;
                    }
                }
                input {
                    height: 40px;
                    width: 200px;
                    line-height: 40px;
                    background-color: #494959;
                    border: none;
                    outline: none;
                    color: #cdd6e5;
                    padding-left: 25px;
                    border-radius: 3px;
                }
                input::-webkit-input-placeholder {
                    /* WebKit browsers */
                    color: #cdd6e5;
                }
                input:-moz-placeholder {
                    /* Mozilla Firefox 4 to 18 */
                    color: #cdd6e5;
                }
                input::-moz-placeholder {
                    /* Mozilla Firefox 19+ */
                    color: #cdd6e5;
                }
                input:-ms-input-placeholder {
                    /* Internet Explorer 10+ */
                    color: #cdd6e5;
                }
                .searchinput {
                    position: relative;
                    left: -35px;
                    top: 5px;
                    cursor: pointer;
                }
                .export {
                    margin-left: 25px;
                }
            }
            .content_form_list {
                ul {
                    background-color: #494959;
                    margin-top: 25px;
                    height: 300px;
                    // padding-left: 60px;
                    li:nth-child(1) {
                        border-bottom: 1px solid #5c5c6b;
                    }
                    li {
                        height: 50px;
                        line-height: 50px;
                        .list_li_accountnumber,
                        .list_li_name,
                        .list_li_time,
                        .list_li_phone,
                        .list_li_count {
                            float: left;
                            color: white;
                            font-size: 14px;
                        }
                        .list_li_accountnumber {
                            width: 80px;
                            margin-left: 60px;
                        }
                        .list_li_name {
                            width: 220px;
                            text-align: center;
                        }
                        .list_li_phone,
                        .list_li_count,
                        .list_li_time {
                            width: 220px;
                            text-align: center;
                        }
                    }
                    li.active {
                        background: #4f4f5f;
                    }
                }
            }
        }
    }
}