.platformaccess {
    display: flex;
    .content {
        width: 100%;
        margin: 0 auto;
        background-color: #3a3a48;
        .content_num {
            padding-bottom: 50px;
            border-bottom: 1px solid #494959;
            display: flex;
            justify-content: space-between;
            ul {
                display: flex;
                justify-content: space-between;
                width: 100%;
                li {
                    width: 25%;
                    height: 202px;
                    margin-right: 26px;
                    background-color: #494959;
                    .peoplenum {
                        text-align: center;
                        border-bottom: 1px solid #5c5c6b;
                        .num {
                            margin-top: 35px;
                            font-size: 40px;
                            height: 40px;
                            line-height: 40px;
                            font-family: "PingFangSC-Semibold";
                            // margin-top: 10px;
                        }
                        .name {
                            margin-top: 10px;
                            margin-bottom: 20px;
                            font-size: 14px;
                        }
                    }
                    .yesterday {
                        text-align: center;
                        .name {
                            font-size: 14px;
                            margin-top: 10px;
                        }
                        .num {
                            font-size: 16px;
                            margin-top: 10px;
                            color: #f4516c;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {
                                margin-left: 5px;
                            }
                        }
                        .upnum {
                            color: rgb(43, 134, 47)!important;
                        }
                    }
                }
                li:last-child {
                    margin-right: 0;
                }
            }
            ul:after {
                display: block;
                content: '';
                clear: both;
            }
        }
        .content_tu {
            border-bottom: 1px solid #494959;
            .cjsjs {
                display: flex;
                justify-content: flex-end;
                .cjsjs_head {
                    margin-top: 40px;
                    p {
                        font-size: 20px;
                        color: white;
                        display: inline;
                    }
                    .el-row {
                        float: right;
                        margin-right: 400px;
                        padding-bottom: 20px;
                        button {
                            width: 100px;
                        }
                    }
                    .zhi {
                        display: inline-block;
                        width: 16px;
                        font-weight: bold;
                    }
                    .zjsst {
                        margin-right: 30px;
                    }
                    .cjsjs_head_search {
                        display: inline-block;
                        height: 40px;
                        width: 50px;
                        // float: right;
                        margin-right: 60px;
                        text-align: center;
                        border: 1px solid #494959;
                        cursor: pointer;
                        img {
                            margin-top: 10px;
                        }
                    }
                }
            }
            .cjsjs:after {
                display: block;
                clear: both;
                content: '';
            }
            .cjsjqst {
                margin-top: 45px;
                .small {
                    .myChart2 {
                        width: 100%;
                        height: 290px;
                    }
                }
            }
            .hdyhqst {
                margin-top: 45px;
                .small {
                    .myChart3 {
                        width: 100%;
                        height: 290px;
                    }
                }
            }
        }
        .content_form {
            margin-top: 40px;
            height: 400px;
            .content_form_one {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .namelist {
                    font-size: 20px;
                    min-width: 120px;
                }
                div {
                    span:hover {
                        background: #007aff;
                    }
                }
                .Cumulative,
                .Cumulative1,
                .export {
                    width: 100px;
                    display: inline-block;
                    height: 40px;
                    background-color: #494959;
                    text-align: center;
                    line-height: 40px;
                    color: white;
                    cursor: pointer;
                    font-size: 14px;
                    border-radius: 3px;
                }
                .Cumulative {
                    margin: 0 10px;
                }
                .CumulativeActive {
                    background: #007aff;
                }
                .searchdate {
                    cursor: pointer;
                    margin-right: 30px;
                    display: inline-block;
                    width: 50px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background-color: #494959;
                    border-radius: 3px;
                    img {
                        position: relative;
                        top: 5px;
                        // margin-top: 10px;
                    }
                }
                input {
                    height: 40px;
                    width: 200px;
                    line-height: 40px;
                    background-color: #494959;
                    border: none;
                    outline: none;
                    color: #cdd6e5;
                    padding-left: 25px;
                    border-radius: 3px;
                }
                input::-webkit-input-placeholder {
                    /* WebKit browsers */
                    color: #cdd6e5;
                }
                input:-moz-placeholder {
                    /* Mozilla Firefox 4 to 18 */
                    color: #cdd6e5;
                }
                input::-moz-placeholder {
                    /* Mozilla Firefox 19+ */
                    color: #cdd6e5;
                }
                input:-ms-input-placeholder {
                    /* Internet Explorer 10+ */
                    color: #cdd6e5;
                }
                .searchinput {
                    position: relative;
                    left: -35px;
                    top: 5px;
                    cursor: pointer;
                }
            }
            .content_form_list {
                ul {
                    background-color: #494959;
                    margin-top: 25px;
                    //height: 300px;
                    overflow: hidden;
                    li:nth-child(1) {
                        border-bottom: 1px solid #5c5c6b;
                        display: flex;
                        justify-content: space-between;
                    }
                    li {
                        display: flex;
                        justify-content: space-between;
                        height: 50px;
                        line-height: 50px;
                        .list_li_accountnumber,
                        .list_li_name,
                        .list_li_time,
                        .list_li_phone,
                        .list_li_count {
                            color: white;
                            font-size: 14px;
                        }
                        .list_li_accountnumber {
                            margin-left: 60px;
                        }
                        .list_li_name {
                            width: 20%;
                            // text-align: center;
                            justify-content: left;
                        }
                        .list_li_phone,
                        .list_li_count,
                        .list_li_time {
                            width: 20%;
                            justify-content: left;
                        }
                        .list_li_time {
                            margin-right: 60px;
                            width: 30%;
                            text-align: right;
                            justify-content: right;
                            position: relative;
                            span{
                                cursor: pointer;
                                padding-right: 12px;
                            }
                            .up{
                                position: absolute;
                                right: -0;
                                top: 18px;
                                cursor: pointer;
                            }
                            .down{
                                position:absolute;
                                right:0;
                                top:26px;
                                cursor: pointer;
                            }
                            .actv{
                                transform: rotateZ(180deg);
                            }
                        }
                        .list_li_accountnumber {
                            width: 20%;
                            justify-content: left;
                        }
                        .list_li_count {
                            width: 10%;
                            justify-content: left;
                            text-align: center;
                            position: relative;
                            span{
                                cursor: pointer;
                            }
                            .up{
                                position: absolute;
                                right: -8px;
                                top: 18px;
                                cursor: pointer;
                                z-index: 5;
                            }
                            .down{
                                position:absolute;
                                right:-8px;
                                top:26px;
                                cursor: pointer;
                                z-index: 5;
                            }
                            .actv{
                                transform: rotateZ(180deg);
                            }
                        }
                    }
                    li.active {
                        background: #4f4f5f;
                    }
                }
            }
        }
    }
}