.userusers {
    .choose_nav {
        margin-top: 47px;
        margin-bottom: 29px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .left {
            display: flex;
            align-items: center;
            p {
                font-size: 20px;
            }
        }
        .back {
            cursor: pointer;
        }
    }
    .content {
        padding: 40px 60px;
        background: #3a3a48;
        height: 440px;
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                font-size: 20px;
            }
            .inputs {
                position: relative;
                input {
                    width: 200px;
                    height: 30px;
                    outline: none;
                    border: none;
                    background: #494959;
                    padding-left: 20px;
                    color: white;
                }
                input::placeholder {
                    color: #cdd6e5;
                }
                img {
                    position: absolute;
                    width: 18px;
                    right: 19px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                }
            }
        }
        .table {
            margin-top: 20px;
            .thead {
                display: flex;
                border-bottom: 1px solid #5c5c6b;
                background: #494959;
                padding-left: 52px;
                .th {
                    flex: 1;
                    text-align: center;
                    height: 50px;
                    line-height: 50px;
                    font-size: 14px;
                }
                .zcsj {
                    position: relative;
                    img.up {
                        cursor: pointer;
                        position: absolute;
                        top: 18px;
                        margin-left: 10px;
                    }
                    img.down {
                        cursor: pointer;
                        position: absolute;
                        bottom: 18px;
                        margin-left: 10px;
                    }
                }
                .th:first-of-type {
                    text-align: left;
                }
                .th:nth-of-type(5) {
                    flex: 2;
                }
                .th:nth-of-type(6) {
                    flex: 2;
                }
            }
            .tbody {
                height: 400px;
                .tr {
                    display: flex;
                    padding-left: 52px;
                    background: #494959;
                    .td {
                        flex: 1;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        font-size: 14px;
                    }
                    .td:first-of-type {
                        text-align: left;
                    }
                    .td:nth-of-type(5) {
                        flex: 2;
                    }
                    .td:nth-of-type(6) {
                        flex: 2;
                    }
                    .more {
                        font-size: 14px;
                        span {
                            cursor: pointer;
                        }
                    }
                }
                .tr:nth-of-type(2n) {
                    background: #5c5c6b;
                }
            }
        }
    }
}