.people {
    height: 816px;
    padding: 0 60px;
    background: #3A3A48;
    .concerned {
        height: 435px;
        border-bottom: 1px solid #5c5c6b;
        .concerned_p {
            font-size: 20px;
            font-weight: bold;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .concernedlists {
            .concernedlist {
                width: 33.33%;
                float: left;
                position: relative;
                margin-bottom: 60px;
                padding-right: 20px;
                img:first-child {
                    width: 54px;
                    height: 54px;
                    margin-right: 20px;
                }
                span {
                    position: absolute;
                    height: 21px;
                    line-height: 21px;
                    font-size: 15px;
                }
                p {
                    position: absolute;
                    height: 18px;
                    line-height: 18px;
                    font-size: 13px;
                    left: 65px;
                    top: 30px;
                }
                img:last-child {
                    position: absolute;
                    right: 80px;
                    top: 27px;
                    cursor: pointer;
                }
            }
            .concernedlist:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
    .noattention {
        height: 580px;
        padding-top: 40px;
        .noattention_p {
            margin-right: 30px;
            font-size: 20px;
            font-weight: bold;
            display: inline-block;
        }
        .noattention_list {
            font-size: 12px;
            color: #BCC2D5;
            display: inline-block;
            cursor: pointer;
        }
        .noattentionlists {
            overflow: hidden;
            margin-top: 40px;
            .noattentionlist {
                width: 33.33%;
                float: left;
                position: relative;
                margin-bottom: 20px;
                padding-right: 20px;
                img:first-child {
                    width: 54px;
                    height: 54px;
                    margin-right: 20px;
                }
                span {
                    position: absolute;
                    height: 21px;
                    line-height: 21px;
                    font-size: 15px;
                }
                p {
                    position: absolute;
                    height: 18px;
                    line-height: 18px;
                    font-size: 13px;
                    left: 65px;
                    top: 30px;
                }
                img:last-child {
                    position: absolute;
                    right: 80px;
                    top: 27px;
                    cursor: pointer;
                }
            }
        }
    }
}