.publicity {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #18181e, #2f2f3b);
    display: flex;
    flex-direction: column;
    .container {
        flex: 1;
        margin: 0 auto;
        width: 1200px;
        display: flex;
        flex-direction: column;
        .top {
            display: flex;
            justify-content: space-between;
            padding-top: 33px;
            padding-bottom: 31px;
            border-bottom: 1px solid #3a3a48;
            h1 {
                // width: 190px;
                font-size: 32px;
                font-weight: normal;
                font-stretch: normal;
                line-height: 41px;
                letter-spacing: 0px;
                color: #ffffff;
            }
            input {
                margin-top: 5px;
                border: none;
                outline: none;
                box-sizing: border-box;
                height: 30px;
                width: 200px;
                padding-left: 20px;
                background: url("../../assets//img/scsearch.png") 90% 50% no-repeat #494959;
                cursor: pointer;
                font-size: 14px;
            }
            input::-webkit-input-placeholder {
                /* WebKit browsers */
                color: #cdd6e5;
            }
            input:-moz-placeholder {
                /* Mozilla Firefox 4 to 18 */
                color: #cdd6e5;
            }
            input::-moz-placeholder {
                /* Mozilla Firefox 19+ */
                color: #cdd6e5;
            }
            input:-ms-input-placeholder {
                /* Internet Explorer 10+ */
                color: #cdd6e5;
            }
        }
        .content {
            flex: 1;
            display: flex;
            .content_left {
                //50 57 0 26
                padding: 50px 57px 0 26px;
                border-right: 1px solid #3a3a48;
                nav {
                    ul {
                        li {
                            height: 55px;
                            line-height: 55px;
                            width: 64px;
                            cursor: pointer;
                            a {
                                text-decoration: none;
                                color: #77777d;
                                font-size: 16px;
                            }
                        }
                        .active {
                            a {
                                color: white;
                            }
                        }
                    }
                }
            }
            .content_right {
                flex: 1;
                position: relative;
                &_text {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    padding-left: 45px;
                    padding-bottom: 50px;
                    padding-right: 5px;
                    padding-top: 50px;
                    .rdgk,
                    .yhdl,
                    .yhzc,
                    .yhgz,
                    .tjxw,
                    .ptss,
                    .jstx,
                    .mmgl,
                    .zhgl {
                        color: white;
                        height: 100%;
                        padding-right: 30px;
                        // display: flex;
                        // justify-content: center;
                        // flex-direction: column;
                        h2 {
                            color: white;
                            font-size: 20px;
                            line-height: 30px;
                            margin-bottom: 10px;
                        }
                        h3,
                        h4,
                        h5 {
                            font-size: 16px;
                            line-height: 24px;
                            margin-bottom: 10px;
                        }
                        h4,
                        h5 {
                            padding-top: 0;
                            font-weight: normal;
                        }
                        p {
                            text-indent: 2em;
                            line-height: 24px;
                            margin-bottom: 10px;
                        }
                        .tpjz {
                            text-align: center;
                            img {
                                width: 93%;
                                // display: flex;
                                // align-items: center;
                                text-align: center;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
                .active {
                    display: block;
                }
            }
        }
    }
}